
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .questioncontainer, #scratch {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    cursor: grabbing;
    border-radius: 10px;

  }

  .questioncontainer {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#agua {
    pointer-events: none; /* Hace que el área no bloquee los clics de las opciones del form */
}


  #scratch {
    cursor: url('imagenes/bayeta_red.png') 16 16, auto;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
  }

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #c3a3f1, #6414e9);
    padding: 20px;
}
h1, h2 {
    text-align: center;
    color: #2a9d8f;
}

label {
    font-size: 1.2em;
    margin-bottom: 10px;
    display: block;
}
input[type="radio"] {
    margin: 10px;
}
.navigation-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button#prev {
    background-color: #8ecae6;
    color: #fff;
}
button#next {
    background-color: #06d37d;
    color: #fff;
}
button#submit {
    background-color: #06d37d;
    color: #fff;
    display: none;
}
.result {
    text-align: center;
    font-size: 1.2em;
    color: #264653;
}
.result span {
    font-weight: bold;
    color: #56c44c;
}
.advice {
    background-color: #e9f5db;
    border-left: 5px solid #2a9d8f;
    padding: 10px;
    margin-top: 20px;
}

#foco {
    z-index:9999999;
    text-align:center;
    font-size:50px;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:url('imagenes/luz.png') center center no-repeat;
}

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes drop {
    0% {
      bottom: 0px;
      opacity: 1;
    }
    
    80% {
      opacity: 1;
    }
    
    100% {
      opacity: 1;
      bottom: -200px;
    }
  }
  
  .drops {
    -webkit-filter: url('#liquid');
    filter: url('#liquid');
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    opacity: 0;
    animation: fade-in .1s linear .4s forwards;
  }
  
  .drop1 , .drop2 {
    width: 21px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #10a7c1
  }
  
  .drop1 {
    width: auto;
    height: 16px;
    bottom: 2px;
    border-radius: 0;
  }
  
  .drop2 {
    animation: drop 1.3s cubic-bezier(1,.19,.66,.12) .5s infinite;
  }