
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .questioncontainer, #scratch {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    cursor: grabbing;
    border-radius: 10px;

  }

  .questioncontainer {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
  
  #scratch {
    cursor: url('imagenes/bayeta_red.png') 16 16, auto;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
  }

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #c3a3f1, #6414e9);
    padding: 20px;
}
h1, h2 {
    text-align: center;
    color: #2a9d8f;
}


label {
    font-size: 1.2em;
    margin-bottom: 10px;
    display: block;
}
input[type="radio"] {
    margin: 10px;
}
.navigation-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button#prev {
    background-color: #8ecae6;
    color: #fff;
}
button#next {
    background-color: #219ebc;
    color: #fff;
}
button#submit {
    background-color: #2a9d8f;
    color: #fff;
    display: none;
}
.result {
    text-align: center;
    font-size: 1.2em;
    color: #264653;
}
.result span {
    font-weight: bold;
    color: #56c44c;
}
.advice {
    background-color: #e9f5db;
    border-left: 5px solid #2a9d8f;
    padding: 10px;
    margin-top: 20px;
}