* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    background: linear-gradient(135deg, #c3a3f1, #6414e9);
  }

  .question-container, #scratch {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    cursor: grabbing;
    border-radius: 10px;

  }

  .question-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.question-container, #basura {
    width: 500px;
height: 250px;
}

  
  #scratch {
    cursor: url('imagenes/bayeta_red.png') 16 16, auto;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
  }